@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0,0,0, 0.2),rgba(0,0,0, 0.2)), url("/bg.jpeg") no-repeat center center /cover;
}

::-webkit-scrollbar {
    cursor: pointer;
    width: 8px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
    cursor: pointer;
}

::-webkit-scrollbar-thumb{
    background: #121212;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(7, 82, 7);
}